
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<script>
    function Contacts() {
        this.Contact = [{
            Id: 1,
            Name: 'Joe Bloggs',
            MobileNumber: 0832232,
            HomeNumber: 1232312321,
            EmailAddress: 'joe.bloggs@guess.com'
        }, {
            Id: 2,
            Name: 'John Doe',
            MobileNumber: 676767674,
            HomeNumber: 345453544,
            EmailAddress: 'john.doe@guess.com'
        }, {
            Id: 3,
            Name: 'Jack Black',
            MobileNumber: 234243324,
            HomeNumber: 6576757,
            EmailAddress: 'jack.black@guess.com'
        }];
    };    
</script>
<script>
        'use strict';
        angular.module('myApp', []).controller('MainCtrl', function MainCtrl($scope, $http) {
            $scope.contacts = new Contacts();   
            $scope.isShowList = true;
            $scope.display = {};
            $scope.newContact = {};
            $scope.display = $scope.contacts.Contact[$scope.contacts.Contact.length - 1];

            $scope.selected = function (value) {
                $scope.display = $scope.contacts.Contact[value - 1];
                $("#dialog").dialog("open");
            };

            $scope.saveNew = function () {
                var length = $scope.contacts.Contact.length;
                $scope.newContact.Id = length + 1;
                $scope.contacts.Contact.push($scope.newContact);
                $scope.newContact = {};
            };

            $scope.editExisting = function (value) {
                $scope.contacts.Contact[value - 1] = $scope.display;
            }

            $scope.syncData = function () {
                // use $.param jQuery function to serialize data from JSON 
                var data = JSON.parse(JSON.stringify($scope.contacts.Contact));

                $http.post('../api/ContactSync', data)
                    .success(function (data, status, headers) {
                        $scope.PostDataResponse = data;
                    })
                    .error(function (data, status, header) {
                        $scope.ResponseDetails = "Data: " + data +
                            "<hr />status: " + status +
                            "<hr />headers: " + header;
                    });
            };
    });
</script>
<script>
        'use strict';
        angular.module('myApp').component('listContacts', {
        template: '<span>Name: {{$ctrl.contacts.Name}}</span><br /><p>MobileNumber: {{$ctrl.contacts.MobileNumber}}</p>',
        bindings: {
            item: '='
        }
        });
</script> 

<h2>Contacts</h2>
<br />
<div ng-app="myApp" ng-controller="MainCtrl as ctrl">
    <div class="container reduced-width" ng-show="isShowList">
        <div class="row">
            <div class="col-md-5 table-underline">
                Your Contacts
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-5 table-underline">
                <button type="button" class="btn btn-primary button-size" ng-click="syncData()">Sync</button>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-5 underOverline half-margin form-inline internal-padding" ng-repeat="it in contacts.Contact track by $index">
                <div class="col-md-6">
                    <i class="fa fa-smile-o" aria-hidden="true"></i> {{it.Name}}
                </div>
                <div class="col-md-6 null-padding-right">
                    <button type="button" class="btn btn-secondary button-size opener" ng-click="selected(it.Id)">Edit</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-info max-width" ng-click="isShowList = false">NEW CONTACT</button>
            </div>
        </div>      
    </div>
    <div class="container reduced-width" ng-show="!isShowList">        
        <div class="row">
            <div class="col-md-1 arrow-paddingTop">
                
            </div>
            <div class="col-md-10">
                <div class="container-fluid">
                    <div class="row form">
                        <div class="col-md-12 internal-padding form-inline">
                            <h2 class="col-md-10"><i class="fa fa-smile-o" aria-hidden="true"></i>  New contact</h2>
                            <button type="button" class="btn btn-warning float-right col-md-2" ng-click="isShowList = true">CANCEL</button>
                        </div>
                    </div>
                    <div class="row internal-padding">                        
                        <div class="col-sm-5 float-left">
                            <label for="email">Name:</label>
                        </div>
                        <div class="col-sm-7 float-right">
                            <input class="form-control" type="text" id="name" ng-model="newContact.Name">
                        </div>                       
                    </div>
                    <div class="row internal-padding">                        
                        <div class="col-sm-5 float-left">
                            <label for="email">Mobile number:</label>
                        </div>
                        <div class="col-sm-7 float-right">
                            <input class="form-control" type="text" id="mobileNumber" ng-model="newContact.MobileNumber">
                        </div>                                      
                    </div>
                    <div class="row internal-padding">                        
                        <div class="col-sm-5 float-left">
                            <label for="email">Home number:</label>
                        </div>
                        <div class="col-sm-7 float-right">
                            <input class="form-control" type="text" id="homeNumber" ng-model="newContact.HomeNumber">
                        </div>                          
                    </div>
                    <div class="row internal-padding">                        
                        <div class="col-sm-5 float-left">
                            <label for="email">Email address:</label>
                        </div>
                        <div class="col-sm-7 float-right">
                            <input class="form-control" type="text" id="email" ng-model="newContact.EmailAddress">
                        </div>                         
                    </div>
                    <div class="row internal-padding">
                        <form enctype="multipart/form-data" action="api/upload" method="post" style="padding-left:30px">
                            <div class="row">
                                <input type="file" id="myFile" />
                            </div>
                            <br />
                            <div class="row">
                                <button onclick="myFunction()">Upload</button>
                                <script>
                                    function myFunction() {

                                    }
                                </script>
                            </div>
                        </form>
                    </div>
                    <div class="row internal-padding">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-info max-width" ng-click="isShowList = true; saveNew();">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 arrow-paddingTop">
                
            </div>
        </div>
    </div>
    <div id="dialog" title="Edit contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 arrow-paddingTop">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="col-md-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 internal-padding">
                                <h2><i class="fa fa-smile-o" aria-hidden="true"></i>  {{display.Name}}</h2>
                            </div>
                        </div>
                        <div class="row internal-padding">
                            <div class="col-md-5 float-left">
                                Mobile number
                            </div>
                            <div class="col-md-7 float-right">
                                <input class="form-control" type="text" id="email" ng-model="display.MobileNumber" value="{{display.MobileNumber}}">                                
                            </div>
                        </div>
                        <div class="row internal-padding">
                            <div class="col-md-5 float-left">
                                Home number
                            </div>
                            <div class="col-md-7 float-right">
                                <input class="form-control" type="text" id="email" ng-model="display.HomeNumber" value="{{display.HomeNumber}}">                                
                            </div>
                        </div>
                        <div class="row internal-padding">
                            <div class="col-md-5 float-left">
                                Email address
                            </div>
                            <div class="col-md-7 float-right">
                                <input class="form-control" type="text" id="email" ng-model="display.EmailAddress" value="{{display.EmailAddress}}">                                
                            </div>
                        </div>
                        <div class="row internal-padding">
                            <form enctype="multipart/form-data" action="api/upload" method="post" style="padding-left:30px">
                                <div class="row">
                                    <input type="file" id="myFile" />
                                </div>
                                <br />
                                <div class="row">
                                    <button onclick="myFunction()">Upload</button>
                                    <script>
                                        function myFunction() {

                                        }
                                    </script>
                                </div>
                            </form>                            
                        </div>
                        <div class="row internal-padding">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-info max-width" ng-click="editExisting(display.Id)">SAVE</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 arrow-paddingTop">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>    
</div>
