
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h2>Cergis Skills Test v7.0 </h2><br />
<p>Please read the instructions carefully and ensure you follow them closely.</p>
<p>When you submit your efforts please include the source code and details of the time you spent on it. If there are any questions, feel free to let me know.</p>
<p>Email your completed solution back to</p>
<p>s.lock@cergis.com</p><p> j.burley@cergis.com</p>

<p>The little CSS black book</p>
<p>Overview Create a simple, one page phonebook application that allows you to view, search and edit contacts.</p>
<p>The instructions and requirements have been kept vague so we can view your interpretation thereof. If you need to make assumptions about functionality please just make a note in the supporting document.</p>
<p>Requirements</p>
<p> ● You can use any JavaScript framework you want, however it would be ideal to use something suitable for a one page application.</p> 
<p> ● It must run in .Net 2.0 or greater and has to run in IIS (All dependencies and external libraries should be referenced correctly and the site should run as is).</p>
<p> ● Provide some seed data for the phone book. </p>
<p> ● You should be able to edit contacts as well as adding new ones.</p>
<p> ● Styling is up to you (you can use a CSS framework if you want, however this is the time to demonstrate any CSS 3 and animation skills).</p>
<p> ● Use a placeholder image for the persons profile pic.
<p>
    The following additional requirements are not compulsory, however it is recommended as it will give us a better understanding of your development capabilities. ● All the data can be kept in memory, however when I hit the SYNC button it should sync the information back to the server. ● The data can be stored in the file system (where and how you store it is up to you, but DO NOT USE SQL – There should be no third party integration required). ● The layout should be responsive. ● When the page is loaded, show the last saved information. ● Allow the user to upload a photo to be used as a profile picture.
    Wireframe (See following page)
</p>

<img src="~/Resources/Capture_Cergis.PNG" />

<p>Happy Coding ☺</p> 

